.user-logo-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: black;
    font: 30px 'Times New Roman', Times, serif;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 9rem;
    border-radius: 100%;
    border: 2px solid black;
    border-block-width: inherit;
}