.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;


    &__icon {
        width: 5.1rem;
        height: 5.1rem;
        fill: var(--color-primary);
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}