.footer{
    height: 15rem; 
    background-color: $color-grey-dark-3;
    color: azure;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding-top: 5rem;
}