.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
}

.book {
    margin: auto 7rem;
    background-image: linear-gradient(105deg, rgba($color-white, .8) 0%, rgba($color-white, .6) 50%,transparent 50%) ,
                            url(../img/nat-10.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);


    &__form {
        width: 50%;
        padding: 6.2rem;
    }
}